@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: 0;
}

 :root {
    --main-color: #34e0a1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-column {
    width: 50%;
    height: 100%;
    background-image: url(../img/foto-registrar.jpg);
    background-size: cover;
    background-position: center;
}

.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-y-texto {
    margin-bottom: 20px;
}

form img {
    width: 250px;
    margin: 20px auto;
}


/* form img {
    margin-bottom: 20px;
    margin-left: 5px;
} */

form {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    margin: 2%;
    text-align: center;
    width: 80%;
    font-size: 15px;
    padding: 3% 6%;
    border-radius: 20px;
    border: 2px solid #333;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    width: 40%;
    padding: 10px;
    margin: auto;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
}

.registrar:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}

@media (max-width: 767px) {
    .left-column {
        display: none;
    }
    .right-column {
        width: 100%;
        height: 100%;
    }
    form {
        width: 95%;
        height: 25%;
    }
}